<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <!-- android:name="com.devtides.androidmonetization.application.Monitor" -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:targetApi="31">

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- training apps android:value="ca-app-pub-9057526686789846~3851400004" -->
        <!-- see TrildaDevCenter / Paul Plaquette admobs account for "Monetization"  Application ID or Yours Application entry -->
        <!-- check build flavors for strings-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/monetize_admobs_id"/>

        <activity
            android:name="com.devtides.androidmonetization.activity.DetailActivity"
            android:hardwareAccelerated="true"
            android:exported="true"/>
        <activity
            android:name="com.devtides.androidmonetization.activity.SplashActivity"
            android:hardwareAccelerated="true"
            android:exported="true"/>

        <activity
            android:name="com.devtides.androidmonetization.activity.MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>